@import "tailwindcss";

:root {
  --background: #1f1f1f;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1f1f;
    --foreground: #ededed;
  }
}

@theme inline {
  /* My custom colors */
  --color-primary-accent: #2bc133;
  --color-secondary-accent: #79fc80;
  --color-terciary-accent: #316634;
  --color-primary-bg: #252525;
  --color-secondary-bg: #122216;
  --color-terciary-bg: #8d8d8d;
  --color-quaternary-bg: #1f1f1f;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  /* My customs */
  ::selection {
    background: #126245;
    color: #fff;
  }
}

/* --- Hides the scrollbar --- */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.nodrag {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Button Fill Animation */
.button-fill {
  position: relative;
  background: transparent;
  color: white;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.2s ease;
  z-index: 0; /* creates stacking context */
}

/* fill layer */
.button-fill::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-primary-accent);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1; /* stays behind text */
}

/* hover fill */
.button-fill:hover::before {
  transform: scaleX(1);
}

/* text color change */
.button-fill:hover {
  color: white;
}
