@import "tailwindcss";

:root {
  --background: #1f1f1f;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1f1f;
    --foreground: #ededed;
  }
}

@theme inline {
  /* My custom colors */
  --color-primary-accent: #2bc133;
  --color-secondary-accent: #79fc80;
  --color-terciary-accent: #316634;
  --color-primary-bg: #252525;
  --color-secondary-bg: #122216;
  --color-terciary-bg: #5d5d5d;
  --color-quaternary-bg: #1f1f1f;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  /* My customs */
  ::selection {
    background: #126245;
    color: #fff;
  }
}

/* --- Hides the scrollbar --- */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
