@import "tailwindcss";

:root {
  --background: #1f1f1f;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1f1f;
    --foreground: #ededed;
  }
}

@theme inline {
  /* My custom colors */
  --color-primary-accent: #2bc133;
  --color-secondary-accent: #79fc80;
  --color-terciary-accent: #316634;
  --color-primary-bg: #292929;
  --color-secondary-bg: #122216;
  --color-terciary-bg: #8d8d8d;
  --color-quaternary-bg: #1f1f1f;
  --color-deep: #00000033;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  /* My customs */
  ::selection {
    background: #126245;
    color: #fff;
  }
}

/* --- Hides the scrollbar --- */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.nodrag {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Button Fill Animation */
.button-fill {
  position: relative;
  background: transparent;
  color: white;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.2s ease;
  z-index: 0; /* creates stacking context */
}

/* fill layer */
.button-fill::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-primary-accent);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1; /* stays behind text */
}

/* hover fill */
.button-fill:hover::before {
  transform: scaleX(1);
}

/* text color change */
.button-fill:hover {
  color: white;
}

.cert-bar {
  width: 100%;
  margin: 80px 0;
  position: relative;
}

.cert-line {
  height: 80px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    var(--color-secondary-bg),
    var(--color-secondary-accent),
    var(--color-secondary-bg)
  );
  box-shadow: 0 0 40px #22c55e40 inset;
}

/* Scroll Bar Styling */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-accent);
  border-radius: 8px;
  border: 2px solid transparent; /* creates floating effect */
  background-clip: content-box;
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: color-mix(in srgb, var(--color-primary-accent), white 20%);
}

/* Firefox */
* {
  scrollbar-width: 15px;
  scrollbar-color: var(--color-primary-accent) transparent;
}
